/** page structure begin*/
body, html {
    width: 100%;
    height: 100%;
    margin:0
    }

.container {
    width: 100%;
    height: auto;
}

.header {
    float:left;
    position:relative;
    width: 100%;
    height: auto;
    background-color: lavenderblush;
    margin-top:auto;
   
}

.content {
    float: left;
    position: relative;
    width: 100%;
    height: auto;
    background-color:lavender;
    

}
.footer {
    width: 100%;
    height: auto;
    background-color: lavenderblush;
}
/** page structure end*/